---
layout: default
---

{% include header.en.html %}

<header id="top" class="header full-size">
  <div class="text-vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="logo-civio">Fundación Ciudadana Civio</h1>
          <h2><span>Annual report 2016</span></h2>
          <div class="intro-description">
            <p>At Civio (Fundación Ciudadana Civio: Civio Citizen Foundation) we demand accountability from public institutions, and with this report, we lead by way of example. Here, you will find detailed information about everything we have done over the past year, what worked and what didn't. This is our 3rd Annual Report (the <a href="http://2014.civio.es/en/" title="Civio - Annual report 2014" target="_blank">2014</a> and <a href="http://2015.civio.es/en/" title="Civio - Annual report 2015" target="_blank">2015</a> reports are also accessible), an exercise we undertake each year with enthusiasm, honesty and a critical eye in order to maintain the trust of our many supporters and gain that of more people every day.</p>
            <p><i>The Civio <a href="http://www.civio.es/en/#meet-the-team" title="Civio - Meet the team" target="_blank">team</a>.</i></p>
          </div>
          <a href="#introduccion" class="btn btn-light btn-lg btn-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro -->
{% include _content/intro.en.html %}

<!-- Section 1 -->
{% include _content/section1.en.html %}

{% include section_divider.html id="A" message="We bring specialized knowledge from the fields of civic technology and added value to international and long-term projects" %}

<!-- Section 2 -->
{% include _content/section2.en.html %}

{% include section_divider.html id="B" message="The tools and information we generate empower citizens in their decisions and enable the scrutiny of public management" %}

<!-- Section 3 -->
{% include _content/section3.en.html %}

{% include section_divider.html id="C" message="We put an innovative approach and the potential of new technologies at the service of active citizenry" %}

<!-- Section 4 -->
{% include _content/section4.en.html %}

{% include section_divider.html id="D" message="Our actions pursue genuine transparency and effective accountability from public institutions" %}

<!-- Section 5 -->
{% include _content/section5.en.html %}

{% include section_divider.html id="E" message="Positive outcomes and a strengthened team looking to grow and take on new challenges in 2017." %}

<!-- Section 6 -->
{% include _content/section6.en.html %}

{% include section_divider.html id="F" message="We continuously raise the bar in applying the best governance standards to our own organization" %}

<!-- Section 7 -->
{% include _content/section7.en.html %}

{% include section_divider.html id="G" message="The knowledge we share is direct and specialized, and is endorsed by our day-to-day work and the impact of our projects" %}

<!-- Section 8 -->
{% include _content/section8.en.html %}

{% include section_divider.html id="H" message="Transparency implies a social and cultural change, and we are one of the most active organizations in Spain when it comes to spreading such change" %}

<!-- Section 9 -->
{% include _content/section9.en.html %}

{% include section_divider.html id="I" message="We foster public debate based on evidence and data, and strive to include more people every day" %}

<!-- Section 10 -->
{% include _content/section10.en.html %}

{% include section_divider.html id="J" message="More and more people are helping us to monitor and bring transparency to other blind spots in the system" %}

<!-- Section 11 -->
{% include _content/section11.en.html %}

{% include section_divider.html id="K" message="We are an organization that is constantly learning, and we put what we've learnt to the service of other citizens, organizations and authorities" %}

<!-- Section 12 -->
{% include _content/section12.en.html %}

{% include section_divider.html id="L" message="We examine our work and share our decisions candidly, with a critical eye and in the spirit of improvement" %}


{% include footer.en.html %}
