<!-- Menu Titles -->
<nav class="navbar navbar-default navbar-fixed-top">
  <p class="nuevos-proyectos">New Projects</p>
  <p class="proyectos-clasicos">Classic Civio Projects</p>
  <p class="defendiendo-tu-derecho-a-saber">We continue to defend your right to know</p>
  <p class="haciendo-comprensible-la-informacion-presupuestaria">Making budgetary information understandable</p>
  <p class="incidencia-politica-y-repercusion-publica">Political advocacy and public impact</p>
  <p class="cuentas-2016">2016 Accounts</p>
  <p class="buena-gobernanza">Good Governance</p>
  <p class="experiencias-compartidas">Shared experiences</p>
  <p class="difusion-y-alcance-publico">Awareness and public scope</p>
  <p class="no-estamos-solos">We are not alone, not at all</p>
  <p class="algunas-lecciones-aprendidas">Some of the many lessons we have learned this year</p>
  <p class="victorias-gracias-a-nuestros-donantes">Small victories that are possible thanks to our donors</p>
</nav>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a href="#top">Annual report 2016</a></li>
    <li class="lang-selector">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}" title="Español">ES</a></li>
        <li><a class="active" href="{{ site.url }}/en" title="English">EN</a></li>
      </ul>
    </li>
    <li><a href="#introduccion">Introduction</a></li>
    <li><a href="#nuevos-proyectos">New Projects</a></li>
    <li><a href="#proyectos-clasicos">Classic Civio Projects</a></li>
    <li><a href="#defendiendo-tu-derecho-a-saber">Defending your right to know</a></li>
    <li><a href="#haciendo-comprensible-la-informacion-presupuestaria">Making budgetary information understandable</a></li>
    <li><a href="#incidencia-politica-y-repercusion-publica">Political advocacy and public impact</a></li>
    <li><a href="#cuentas-2016">2016 Accounts</a></li>
    <li><a href="#buena-gobernanza">Good Governance</a></li>
    <li><a href="#experiencias-compartidas">Shared experiences</a></li>
    <li><a href="#difusion-y-alcance-publico">Awareness and public scope</a></li>
    <li><a href="#no-estamos-solos">We are not alone, not at all</a></li>
    <li><a href="#algunas-lecciones-aprendidas">Some lessons we have learned</a></li>
    <li><a href="#victorias-gracias-a-nuestros-donantes">2015 small victories</a></li>
  </ul>
</nav>