<section id="cuentas-2016" class="full-size bgB">
  <h3>Cuentas 2016</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <p>En junio de 2016 completamos la primera <a href="https://www.documentcloud.org/documents/3000738-000-Informe-De-Auditor%C3%ADa-Y-Cuentas-Anuales.html" target="_blank" rel="noopener noreferrer">auditoría externa</a> de nuestra organización sobre las cuentas del año 2015, un ejercicio voluntario de mejora y aprendizaje. A finales de julio decidimos volver a presentar nuestra contabilidad ajustada, explicando las modificaciones derivadas de la decisión de aplicar un criterio de devengo en lugar de un criterio de caja, como hicimos hasta el 1 de enero de 2015. Todo está correctamente reflejado en las <a href="http://www.civio.es/cuentas-claras/" target="_blank" rel="noopener noreferrer">cuentas del año anterior</a> y en las que te puedes descargar en este informe. Unificar nuestro criterio contable requirió modificar también nuestra contabilidad anual de 2014</p>

            {% include social_sharer.html path="cuentas-2016" message="Cuentas 2016" %}
        </div>
      </div>
    </div> 
  </div>
</section>