<section id="buena-gobernanza" class="full-size bgC">
  <h3>Good Governance</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <p>We continued to apply the best governance standards to ourselves throughout the year. According to a <a target="_blank" rel="noopener noreferrer" href="http://gijn.org/2016/06/14/new-journalism-ecosystem-thrives-worldwide/">2016 report</a>, out of over 27 non-profit journalistic organizations, only two made their accounts fully available <strong>including staff salaries</strong>: Civio and Correct!v (Germany).</p>
            <p>In January 2016, we cemented the post of Civio's Executive Director as a paid position following approval from the <a target="_blank" rel="noopener noreferrer" href="http://www.mecd.gob.es/servicios-al-ciudadano-mecd/fundaciones/informacion-general/protectorado.html">Protectorate of Foundations</a>. While David Cabo, co-founder and trustee of the organization, had been in this post since the end of 2012, it has been up till now an unpaid position. Cementing and achieving recognition for this position gives Civio's directorate the stability needed to lead the organization in the long-term.</p>
            <p>Our team <strong>continued to grow</strong> with the addition of Eduardo Sebastián, a back-end programmer who plays a key role in projects such as <em>Onodo</em>, <em>OpenBudgets</em> and the creation of <a target="_blank" rel="noopener noreferrer" href="http://www.civio.es/sector-publico/">transparency tools for the public sector</a>.</p>
            
            {% include social_sharer.en.html path="buena-gobernanza" message="Good Governance" %}
        </div>
      </div>
    </div> 
  </div>
</section>