<section id="cuentas-2016" class="full-size bgB">
  <h3>2016 Accounts</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <p>For the 5th year in a row, Civio is financially sustainable. 2016 closed with <strong>operating profits of €5,700</strong>. Throughout the year, generated income reached €336,456, a 35% increase on the previous year. An amount, however, which is below the forecast of our 2016 Action Plan, in which we calculated €405,000 (see explanation below). Only one exception - the difference in the euro/ dollar exchange rate - leaves a slight negative balance of €122.40.</p>
            <p>Along with income <strong>spending also increased</strong>: the Civio team incorporated another member of staff, we improved our salary scales and cemented the post of Director of the foundation as a paid position. Hence, operating expenses reached €330,751. The majority of this goes on staff wages - <strong>salaries</strong> comprised 78% of the total annual expenditure. Our compensation packages ranged from €21,000 gross per year at the lowest point on the <strong>scale</strong>, to €28,000 gross at the top end of the scale, to which should be added a variable bonus according to annual results. The salary of the Executive Director was €39,500.</p>
            <hr/>
            <div class="row">
              <div class="col-sm-6 text-center">
                <p><strong>Institutional income and awards structure</strong></p>
                <div id="chart-incomes"></div>
              </div>
              <div class="col-sm-6  text-center">
                <p><strong>Cost structure</strong></p>
                <div id="chart-expenses"></div>
              </div>
            </div>
            <hr/>
            <p>2016 revenue (€336,456) came from:</p>
            <ul>
              <li>
                <p><strong>Civio's collaborators and specific donors</strong> (€30,649 - 9% of the total)</p>
                <p>The support of Civio's collaborators, with their regular contributions, and other people who have donated regularly, has proved more important than ever. Donation revenue increased 40% over the previous year, with over 250 partners. This figure allowed us to meet the forecasts in our Action Plan, and we will only double our efforts in 2017 to earn the active support of more collaborators and individuals.</p>
              </li>
              <li>
                <p><strong>Provision of professional services</strong> (€126,722 - 38% of the total)</p>
                <p>Income from services, an important pillar of our sustainability, increased by 88% over 2015. We set up the tool Where do my taxes go? in two autonomous communities and 8 municipalities. This channel has generated €117,761.2 and the pipeline of projects confirmed to run in 2017 is on the increase. We also earned €8,638 in training fees.</p>
                <p>Revenue in this category was below the forecast of the 2016 Action Plan (€200,000), due to the change in accounting method (from cash to accrual) implemented last year: services sold during the year exceeded that figure, but in 2016 we only include those contracts that are already complete.</p>
              <li>
                <p><strong>Institutional support and awards</strong> (€179,085 - 53% of the total)</p>
                <p>Revenue based on institutional support came entirely from outside of Spain, as in previous years. Our participation in the European <em>OpenBudgets</em> project (€86,760), support from OSIFE (Open Society Initiative for Europe, €43,814.72), a grant from Journalism Grants for <em>Medicamentalia</em> (€19,925) and from the CHEST consortium to create <em>Onodo</em> (€17,000) provided the majority of this funding. The prizes we won - the Gabriel García Márquez and the Data Journalism Award - generated a further €10,631.</p>
              </li>
            </ul>
            <p>Although a diverse range of revenue streams allows us more flexibility when faced with the unexpected, one of our goals for the present year is to ensure that the percentage of income generated from collaborators and donors provides the majority of the total balance.</p>
            <p class="text-center"><a class="btn btn-light btn-lg btn-download" href="https://civio.box.com/s/hdpjfv2p8poqqhxp9f97wr0i9mj2s62i" title="Civio - Cuentas 2016" target="_blank">BROWSE OUR AUDITED ACCOUNTS</a></p>
            <p>Since our launch, our annual accounts have been available to the public. <a href="http://www.civio.es/cuentas-claras/">You can browse them here</a>.</p>

            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Goal set out in the 2016 Action Plan:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Maintain the sustainability of our growing organization.</strong> Although revenue was lower than our forecast, we achieved growth by increasing expenses within the forecast limits.</p>
              </div>
            </div>

            {% include social_sharer.en.html path="cuentas-2016" message="2016 Accounts" %}
        </div>
      </div>
    </div> 
  </div>
</section>