<section id="cuentas-2016" class="full-size bgB">
  <h3>Cuentas 2016</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <p>Por quinto año consecutivo, Civio es sostenible. 2016 se saldó con <strong>un beneficio operativo de 5.700 euros</strong>. Los ingresos generados en el año han ascendido a 336.456 euros, un 35% más que el anterior. Un monto, no obstante, por debajo de la previsión de nuestro Plan de Actuación para 2016, que cifrábamos en 405.000 euros. Solo una excepcionalidad –la diferencia de cambio euro/dólar– deja un leve balance negativo de 122,40 euros.</p>
            <p>Con los ingresos, también <strong>han aumentado los gastos</strong>: el equipo de Civio ha crecido en una persona, hemos mejorado los rangos salariales y consolidado la figura del director de la fundación como posición remunerada. Por ello, los gastos han ascendido a 336.456 euros, justo lo que preveía nuestro Plan de Actuación. La mayoría se destina a pagar los sueldos del equipo: los <strong>costes salariales</strong> supusieron el 78% de los gastos totales del año. Nuestro <strong>esquema de remuneración</strong> varió delos 21.000 euros brutos anuales en el escalón inferior a los 28.000 brutos en el superior de la plantilla, a los que se añade una remuneración variable en función de los resultados anuales. La remuneración del Director Ejecutivo se situó en 39.500 euros.</p>
            <hr/>
            <div class="row">
              <div class="col-sm-6 text-center">
                <p><strong>Estructura ingresos</strong></p>
                <div id="chart-incomes"></div>
              </div>
              <div class="col-sm-6  text-center">
                <p><strong>Estructura gastos</strong></p>
                <div id="chart-expenses"></div>
              </div>
            </div>
            <hr/>
            <p>Los ingresos de 2016 (336.456 euros) procedieron de:</p>
            <ul>
              <li>
                <p><strong>Cómplices de Civio y donantes puntuales</strong> (30.649 euros, 9% del total)</p>
                <p>El apoyo de los cómplices de Civio, con su aportación regular, y de otras personas que han donado puntualmente, ha sido más importante que nunca. Los ingresos por donaciones aumentaron un 40% respecto al año anterior y superamos la cifra de 250 cómplices. Con esta suma, alcanzamos las previsiones contempladas en nuestro Plan de Actuación, y doblaremos esfuerzos en 2017 para merecer el apoyo activo de mucha más gente.</p>
              </li>
              <li>
                <p><strong>Prestación de servicios profesionales</strong> (126.722 euros, 38% del total)</p>
                <p>Los ingresos por servicios, un importante pilar de nuestra sostenibilidad, aumentaron un 88% respecto a 2015. Hemos implantando la herramienta <em>¿Dónde van mis impuestos?</em> en dos comunidades autónomas y ocho ayuntamientos. Esta vía ha generado 117.7612 euros y el <em>pipeline</em> de proyectos confirmados para ejecutar en 2017 va en aumento Por formación hemos ingresado además 8.638 euros.</p>
                <p>Los ingresos en esta categoría han estado por debajo de lo previsto en el Plan de Actuación de 2016 (200.000 euros), debido al cambio de criterio contable (de caja a devengo) realizado el año pasado: los servicios vendidos durante el año han superado esa cantidad, pero solo incluimos en 2016 la parte ya terminada de los contratos.</p>
              <li>
                <p><strong>Apoyos institucionales y premios</strong> (179.085 euros, 53% del total)</p>
                <p>Los ingresos basados en apoyos institucionales procedieron en su totalidad, como otros años, de fuera de España. Nuestra participación en el proyecto europeo <em>OpenBudgets</em> (86.760 euros), el apoyo de OSIFE (Open Society Initiative for Europe, 43.814,72 euros), la beca de Journalism Grants para <em>Medicamentalia </em>(19.925 euros) y el consorcio CHEST para crear <em>Onodo</em> (17.000) aportaron la mayor parte de esta financiación. Los premios obtenidos -el Gabriel García Márquez y el Data Journalism Award- generaron además 10.631 euros.</p>
              </li>
            </ul>
            <p>Aunque la diversidad de fuentes de ingresos nos permite ser más flexibles a la hora de enfrentar imprevistos, uno de los objetivos de este año es que el porcentaje de nuestros ingresos que depende de los cómplices y donantes gane peso sobre el total.</p>
            <p class="text-center"><a class="btn btn-light btn-lg btn-download" href="https://civio.app.box.com/s/t673z7ixnftxrus2avesv24mjn8dr6cw" title="Civio - Cuentas 2016" target="_blank">CONSULTA NUESTRAS CUENTAS COMPLETAS</a></p>
            <p>Nuestras cuentas anuales desde nuestro arranque son públicas, y <a href="http://www.civio.es/cuentas-claras/">aquí puedes consultarlas</a>.</p>

            <div class="panel panel-objetivo">
              <div class="panel-body">
                <p class="panel-objetivo-title"><i>Objetivo previsto en el Plan de Actuación 2016:</i></p>
                <p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <strong>Mantener la sostenibilidad de la organización creciendo.</strong> Aunque los ingresos han sido inferiores a nuestra previsión, hemos logrado el crecimiento aumentando los gastos sin exceder el límite previsto.</p>
              </div>
            </div>

            {% include social_sharer.html path="cuentas-2016" message="Cuentas 2016" %}
        </div>
      </div>
    </div> 
  </div>
</section>