<section id="buena-gobernanza" class="full-size bgC">
  <h3>Buena Gobernanza</h3>
  <div class="text-vertical-center">
    <div class="container">
        <div class="row text-left">
          <div class="col-lg-10 col-lg-offset-1">
            <p>Hemos seguido aplicándonos a nosotros los mejores estándares de gobernanza durante todo el año. Entre más de 27 organizaciones periodísticas sin ánimo de lucro en un <a target="_blank" rel="noopener noreferrer" href="http://gijn.org/2016/06/14/new-journalism-ecosystem-thrives-worldwide/">informe de 2016</a>, solo dos daban a conocer sus cuentas completas <strong>incluyendo los salarios de sus trabajadores</strong>: Civio y Correct!v (Alemania).</p>
            <p>En enero de 2016, consolidamos la figura de director ejecutivo de Civio como posición remunerada con la aprobación del    <a target="_blank" rel="noopener noreferrer" href="http://www.mecd.gob.es/servicios-al-ciudadano-mecd/fundaciones/informacion-general/protectorado.html">Protectorado de Fundaciones</a>. Aunque la dirección de Civio recaía sobre David Cabo, co-fundador y patrono de la organización, desde finales de 2012, hasta ese momento no conllevaba remuneración. Consolidar y lograr reconocer este puesto dota a la dirección de Civio de la estabilidad necesaria para liderar esta organización con una perspectiva de largo plazo.</p>
            <p>Nuestro equipo de trabajo <strong>ha seguido creciendo</strong> con la incorporación de Eduardo Sebastián, programador back-end, que juega un papel clave en proyectos como <em>Onodo</em>, <em>OpenBudgets</em> y en la creación de <a target="_blank" rel="noopener noreferrer" href="http://www.civio.es/sector-publico/">herramientas de transparencia para el sector público    </a>.</p>
            
            {% include social_sharer.html path="buena-gobernanza" message="Buena gobernanza" %}
        </div>
      </div>
    </div> 
  </div>
</section>